In [4]:
import os

mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-7.1.0-posix-seh-rt_v5-rev2\\mingw64\\bin'

os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']

In [5]:
import sys
import numpy as np
import pandas as pd
import xgboost as xgb

In [113]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [114]:
print(train.shape)
train.head()

(550068, 12)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [115]:
print(test.shape)
test.head()

(233599, 11)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [116]:
# Saving id variables to create final submission
ids_test = test['User_ID'].copy()
product_ids_test = test['Product_ID'].copy()

In [117]:
# Reducing boundaries to decrease RMSE
cutoff_purchase = np.percentile(train['Purchase'], 99.9)  # 99.9 percentile
print(cutoff_purchase)

23729.0

In [118]:
train.loc[train['Purchase'] > cutoff_purchase, 'SalePrice'] = cutoff_purchase

In [119]:
from sklearn.preprocessing import LabelEncoder

In [120]:
# Label Encoding User_IDs
le = LabelEncoder()
train['User_ID'] = le.fit_transform(train['User_ID'])
test['User_ID'] = le.transform(test['User_ID'])

In [121]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,SalePrice
0,0,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,NaN
1,0,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,NaN
2,0,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,NaN
3,0,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,NaN
4,1,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,NaN

In [122]:
new_product_ids = list(set(pd.unique(test['Product_ID'])) - set(pd.unique(train['Product_ID'])))

In [123]:
len(new_product_ids)

46

In [124]:
# Label Encoding Product_IDs
le = LabelEncoder()
train['Product_ID'] = le.fit_transform(train['Product_ID'])

In [125]:
test.loc[test['Product_ID'].isin(new_product_ids), 'Product_ID'] = -1

In [126]:
new_product_ids.append(-1)

In [127]:
test.loc[~test['Product_ID'].isin(new_product_ids), 'Product_ID'] = le.transform(test.loc[~test['Product_ID'].isin(new_product_ids), 'Product_ID'])

In [6]:
# NOTES:
# 3631 unique values in train - Product_ID
# 3491 unique values in test - Product_ID
# 46 new product ids in test set and 186 products absent in test
# Only Product_Category_2 and Product_Category_3 have missing values.

In [129]:
y = train['Purchase']
train.drop(['Purchase', 'Product_Category_2', 'Product_Category_3'], inplace=True, axis=1)
test.drop(['Product_Category_2', 'Product_Category_3'], inplace=True, axis=1)

In [130]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [131]:
# Modeling
dtrain = xgb.DMatrix(train.values, label=y, missing=np.nan)

param = {'objective': 'reg:linear', 'booster': 'gbtree', 'silent': 1,
        'max_depth': 10, 'eta': 0.1, 'nthread': 4,
        'subsample': 0.8, 'colsample_bytree': 0.8, 'min_child_weight': 20,
        'max_delta_step': 0, 'gamma': 0}
num_round = 690

# xgb.cv(param, dtrain, num_round, nfold=4, seed=2244, show_progress=True)
# exit()
# [690]   cv-test-rmse:2487.3809205+9.82125332763 - 10 690 and 20 - produt category 2,3 removed - v3

seeds = [1122, 2244, 3366, 4488, 5500]
test_preds = np.zeros((len(test), len(seeds)))

for run in range(len(seeds)):
    sys.stdout.write("\rXGB RUN:{}/{}".format(run+1, len(seeds)))
    sys.stdout.flush()
    param['seed'] = seeds[run]
    clf = xgb.train(param, dtrain, num_round)
    dtest = xgb.DMatrix(test.values, missing=np.nan)
    test_preds[:, run] = clf.predict(dtest)

test_preds = np.mean(test_preds, axis=1)

# Submission file
submit = pd.DataFrame({'User_ID': ids_test, 'Product_ID': product_ids_test, 'Purchase': test_preds})
submit = submit[['User_ID', 'Product_ID', 'Purchase']]

submit.ix[submit['Purchase'] < 0, 'Purchase'] = 12  # changing min prediction to min value in train
submit.to_csv("final_solution.csv", index=False)

XGB RUN:1/5

ValueError: feature_names mismatch: ['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20', 'f21', 'f22'] ['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20', 'f21']
expected f22 in input data